<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stratoscale</title>
</head>
<body>
<div class="main-container">
    <header class="header">
        <div class="branding">
            <a href="javascript://">
                <clr-icon shape="cloud"></clr-icon>
                <span class="title">Cloud Voter</span>
            </a>
        </div>
    </header>

    <div class="content-container">
        <div class="content-area">
            <div class="center">
                <h2 class="aligned-center">Stratoscale's Cloud Voter App</h2>

                <div class="separator"></div>

                <div class="row">

                    <div class="col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <clr-icon shape="grid-view" dir="up" class="-color6" size="24" style="color: #374E61; width: 24px; height: 24px;"></clr-icon> Symphony
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="http://www.stratoscale.com/" target="_blank"><b>Private Cloud</b>, that looks and feels like a public one.</a>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <button class="btn btn-primary" (click)='vote("ihop")'>Vote</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <clr-icon shape="cloud" dir="up" class="-color6" size="24" style="color: #d20059; width: 24px; height: 24px;"></clr-icon> AWS
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://aws.amazon.com/" target="_blank"><b>Amazon Web Services</b>, public cloud leader!</a>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <button class="btn btn-primary" (click)='vote("chipotle")'>Vote</button>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <clr-icon shape="compass" dir="up" class="-color6" size="24" style="color: #00A98C; width: 24px; height: 24px;"></clr-icon> GCP
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://cloud.google.com/" target="_blank"><b>Google Cloud</b>, Kubernetes & AI at your finger tips</a>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <button class="btn btn-primary" (click)='vote("outback")'>Vote</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <clr-icon shape="dollar-bill" dir="up" class="-color6" size="24" style="color: #318700; width: 24px; height: 24px;"></clr-icon> Azure
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="http://www.bucadibeppo.com/" target="_blank"><b>Microsoft</b>, .Net & Windows for the win.</a>
                                </li>
                            </ul>
                            <div class="card-footer">
                                <button class="btn btn-primary" (click)='vote("bucadibeppo")'>Vote</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="spacer"></div>


                <div class="row flex-items-xs-middle">
                    <div class="col-xs">
                    </div>
                    <div class="col-xs">
                        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="votes" [gradient]="gradient">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                    <div class="col-xs">
                    </div>
                </div>





                <div class="spacer"></div>

                <div class="separator"></div>

                <div class="row flex-items-xs-middle">


                    <div class="col-sm-12 col-md-6 col-xl-3">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a target="_blank">System serving the request: <b><u>{{stats.hostname}}</u></b></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
